In [1]:
import yfinance as yf
import os
import pandas as pd
import glob
import plotly.express as px

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
symbols = ['AAPL','ADBE','AMZN','ASML','AVGO',
        'CMCSA','COST','CSCO','FB','GOOG',
        'GOOGL','INTC','MSFT','NFLX','NTES',
        'NVDA','PEP','PYPL','TSLA'
        ]

In [4]:
if not os.path.exists('../../data'):
  os.mkdir('../../data')

In [5]:
files = glob.glob('../../data/*.csv')
def delete_csv(files):
    for f in files:
        os.remove(f)

In [6]:
delete_csv(files)

In [7]:
def download_data(symbols):
    for i in symbols:
        if not os.path.exists(f'../../data/{i}.csv'):
            data = yf.download(i,start = '2010-01-01')
            if data.size > 0:
                print(f'saving {i} as csv')
                data.to_csv(f'../../data/{i}.csv')
            else:
                print(f'could not save {i}')

In [8]:
download_data(symbols)

[*********************100%***********************]  1 of 1 completed
saving AAPL as csv
[*********************100%***********************]  1 of 1 completed
saving ADBE as csv
[*********************100%***********************]  1 of 1 completed
saving AMZN as csv
[*********************100%***********************]  1 of 1 completed
saving ASML as csv
[*********************100%***********************]  1 of 1 completed
saving AVGO as csv
[*********************100%***********************]  1 of 1 completed
saving CMCSA as csv
[*********************100%***********************]  1 of 1 completed
saving COST as csv
[*********************100%***********************]  1 of 1 completed
saving CSCO as csv
[*********************100%***********************]  1 of 1 completed
saving FB as csv
[*********************100%***********************]  1 of 1 completed
saving GOOG as csv
[*********************100%***********************]  1 of 1 completed
saving GOOGL as csv
[*********************100%***********************]  1 of 1 completed
saving INTC as csv
[*********************100%***********************]  1 of 1 completed
saving MSFT as csv
[*********************100%***********************]  1 of 1 completed
saving NFLX as csv
[*********************100%***********************]  1 of 1 completed
saving NTES as csv
[*********************100%***********************]  1 of 1 completed
saving NVDA as csv
[*********************100%***********************]  1 of 1 completed
saving PEP as csv
[*********************100%***********************]  1 of 1 completed
saving PYPL as csv
[*********************100%***********************]  1 of 1 completed
saving TSLA as csv

In [9]:
files = glob.glob('../../data/*.csv')

In [10]:
for symbol in symbols:
  s = open(f"../../data/{symbol}.csv").readlines()
  if len(s) < 10:
    os.system(f"rm../../data/{symbol}.csv")

In [11]:
full_df = None
for f in files:
  print(f)
  df = pd.read_csv(f)

  symbol = f.split('d')[1].split('.')[0]
  df['Name'] = symbol[4:]

  if full_df is None:
    full_df = df
  else:
    full_df = full_df.append(df, ignore_index=True)
if not os.path.exists('../../data/full_data'):
  os.mkdir('../../data/full_data')
full_df.to_csv('../../data/full_data/full_df.csv', index=False)

../../data\AAPL.csv
../../data\ADBE.csv
../../data\AMZN.csv
../../data\ASML.csv
../../data\AVGO.csv
../../data\CMCSA.csv
../../data\COST.csv
../../data\CSCO.csv
../../data\FB.csv
../../data\GOOG.csv
../../data\GOOGL.csv
../../data\INTC.csv
../../data\MSFT.csv
../../data\NFLX.csv
../../data\NTES.csv
../../data\NVDA.csv
../../data\PEP.csv
../../data\PYPL.csv
../../data\TSLA.csv

In [12]:
full_df

,Date,Open,High,Low,Close,Adj Close,Volume,Name
0,2009-12-31,7.611786,7.619643,7.520000,7.526071,6.444381,352410800,AAPL
1,2010-01-04,7.622500,7.660714,7.585000,7.643214,6.544688,493729600,AAPL
2,2010-01-05,7.664286,7.699643,7.616071,7.656429,6.556003,601904800,AAPL
3,2010-01-06,7.656429,7.686786,7.526786,7.534643,6.451720,552160000,AAPL
4,2010-01-07,7.562500,7.571429,7.466071,7.520714,6.439794,477131200,AAPL
...,...,...,...,...,...,...,...,...
55932,2022-02-11,909.630005,915.960022,850.700012,860.000000,860.000000,26492700,TSLA
55933,2022-02-14,861.570007,898.880005,853.150024,875.760010,875.760010,22515100,TSLA
55934,2022-02-15,900.000000,923.000000,893.380005,922.429993,922.429993,19216500,TSLA
55935,2022-02-16,914.049988,926.429993,901.210022,923.390015,923.390015,17027700,TSLA
55936,2022-02-17,913.260010,918.499878,886.849976,890.195007,890.195007,8568929,TSLA

In [13]:
full_df['Date'] = pd.to_datetime(full_df['Date'])

In [14]:
full_df['Date'].min(), full_df['Date'].max()

(Timestamp('2009-12-31 00:00:00'), Timestamp('2022-02-17 00:00:00'))

In [15]:
dates = pd.date_range(full_df['Date'].min(), full_df['Date'].max())

In [16]:
close_prices = pd.DataFrame(index=dates)

In [17]:
symbols = full_df['Name'].unique()
symbols

array(['AAPL', 'ADBE', 'AMZN', 'ASML', 'AVGO', 'CMCSA', 'COST', 'CSCO',
       'FB', 'GOOG', 'GOOGL', 'INTC', 'MSFT', 'NFLX', 'NTES', 'NVDA',
       'PEP', 'PYPL', 'TSLA'], dtype=object)

In [18]:
for i in symbols:
  df_sym = full_df[full_df['Name'] == i]
  df_tmp = pd.DataFrame(data=df_sym['Close'].to_numpy(), \
                        index=df_sym['Date'], columns=[i])
  close_prices = close_prices.join(df_tmp)

In [19]:
close_prices.dropna(inplace=True)

In [20]:
close_prices

,AAPL,ADBE,AMZN,ASML,AVGO,CMCSA,COST,CSCO,FB,GOOG,GOOGL,INTC,MSFT,NFLX,NTES,NVDA,PEP,PYPL,TSLA
2015-07-06,31.500000,80.500000,436.040009,101.919998,134.199997,31.055000,135.880005,27.219999,87.550003,522.859985,545.619995,30.040001,44.389999,94.571426,26.798000,5.042500,94.400002,36.709999,55.944000
2015-07-07,31.422501,80.589996,436.720001,100.160004,132.839996,31.254999,140.500000,27.360001,87.220001,525.020020,550.030029,29.900000,44.299999,94.091431,25.955999,4.947500,96.400002,36.619999,53.576000
2015-07-08,30.642500,79.989998,429.700012,97.139999,128.050003,30.844999,139.899994,26.990000,85.650002,516.830017,541.700012,29.500000,44.240002,93.507141,26.469999,4.912500,95.610001,34.700001,50.992001
2015-07-09,30.017500,80.470001,434.390015,99.620003,124.680000,31.004999,139.449997,26.910000,85.879997,520.679993,544.650024,28.930000,44.520000,95.727142,28.191999,4.852500,94.589996,34.500000,51.584000
2015-07-10,30.820000,80.589996,443.510010,102.699997,129.839996,31.594999,142.720001,27.280001,87.949997,530.130005,556.109985,29.170000,44.610001,97.228569,27.990000,4.937500,95.550003,34.689999,51.830002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-11,168.639999,473.970001,3065.870117,628.239990,573.419983,47.619999,509.670013,53.900002,219.550003,2682.600098,2685.649902,47.630001,295.040009,391.309998,99.040001,239.490005,168.580002,115.290001,860.000000
2022-02-14,168.880005,474.010010,3103.340088,627.909973,578.580017,47.400002,506.559998,53.180000,217.699997,2706.000000,2710.520020,47.580002,295.000000,396.570007,97.989998,242.669998,166.699997,114.120003,875.760010
2022-02-15,172.789993,479.500000,3130.209961,656.409973,602.770020,48.049999,513.919983,54.270000,221.000000,2728.510010,2732.169922,48.439999,300.470001,407.459991,99.879997,264.950012,165.960007,115.459999,922.429993
2022-02-16,172.550003,477.700012,3162.010010,663.859985,597.210022,48.090000,512.400024,54.250000,216.539993,2749.750000,2754.760010,48.230000,299.500000,398.079987,100.209999,265.109985,166.300003,110.540001,923.390015
2022-02-17,171.150696,466.529999,3149.189941,656.840027,586.679993,47.355000,514.210022,56.410000,214.419998,2696.920166,2698.034912,47.764999,294.609985,393.679993,100.809998,246.860107,165.990005,107.620697,890.195007

In [ ]:
close_prices.to_c

In [21]:
def plotly_stock_prices(dataframe):
    print(f'plotting between dates \n{dataframe.index.values.min()}\n{dataframe.index.values.max()}')
    fig = px.line(dataframe)
    fig.update_layout(title = {'text' : 'stock prices by period',
                                'x':0.5,
                                'xanchor' : 'center'},
                        xaxis_title = 'Period slicer',
                        yaxis_title = 'Price',
                        template = 'plotly_dark',
                        xaxis_rangeslider_visible=True,
                        width=950, height=500)

    fig.show()

In [22]:
plotly_stock_prices(close_prices)